<div id="containerView">
    <div id="containerEditTask" class="likeAContainer">
        <form name="editTask" id="editTask" ng-submit="editedTask()" autocomplete="off">
            <input name="textTitle" id="enter" value="mierda de prueba" type="text" class='input-text' ng-model="newAct.title" placeholder="What to be done?" required="requerid" onKeyDown="longTitle()" onKeyUp="longTitle()"></input>
            <textarea name="textoArea" id="textArea1" class="textAreaStyle" ng-model="newAct.description" onKeyDown="longTextArea()" onKeyUp="longTextArea()" placeholder="Insert a description."></textarea>
            <input type="date" class='input-date' ng-model="newAct.date" required="required" />
            <select id="selectType" ng-model="newAct.priority" ng-options="item.name for item in options" required="required">
          <option value="" disabled="disabled">Select priority</option>
        </select>
            <select id="selectType" ng-model="newAct.status" ng-options="itemN.name for itemN in optionsStatus" required="required">
          <option value="" disabled="disabled">Select status</option>
        </select><br />
            <button id="btnEdit" type="submit" class="styleButtonForm">Edit Task</button><br />
        </form>
    </div>
</div>
